<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Educational Website</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <div class="header-left">
            <img src="{{ url_for('static', filename='images/jagbirpic.jpg') }}" alt="My Photo" class="profile-photo">
        </div>
        <nav class="header-right">
            <ul>
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('about') }}">About</a></li>
                <li><a href="{{ url_for('courses') }}">Courses</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="content">
            {% block content %}{% endblock %}
        </div>
    </main>
    <footer>
        <p>&copy; 2024 Educational Website. All rights reserved.</p>
    </footer>
</body>
</html>
