{% extends "base.html" %}

{% block content %}
<section class="courses">
    <h2>Our Courses</h2>
    <div class="course">
        <h3>Course 1: General Intelligence and Reasoning</h3>
        <p>This course covers the basics of Python programming language. Below is the detailed syllabus:</p>
        <ul class="syllabus">
            <li>Discrimination</li>
            <li>Observation</li>
            <li>Coding and decoding</li>
            <li>Arithmetic number series</li>
            <li>Relationship concepts</li>
            <li>Arithmetical reasoning</li>
            <li>Figural classification</li>
            <li>Statement conclusion</li>
            <li>Syllogistic reasoning</li>
            <li>Similarities and differences</li>
            <li>Space visualization</li>
            <li>Spatial orientation</li>
            <li>Problem-solving</li>
            <li>Analysis</li>
            <li>Non-verbal series</li>
            <li>Judgment</li>
            <li>Blood Relations</li>
            <li>Decision making</li>
            <li>Visual memory</li>
            <li>Analogies</li>
        </ul>
    </div>
    <div class="course">
        <h3>Course 2: English</h3>
        <p>This course teaches you how to build web applications using Flask, a micro web framework for Python.</p>
        <ul class="syllabus">
            <li>Reading Comprehension</li>
            <li>Idioms and Phrases </li>
            <li>Sentence Correction</li>
            <li>One word Substitution</li>
            <li>Active Passive</li>
            <li>Spellings Correction</li>
            <li>Fill in the Blanks</li>
            <li>Sentence Rearrangement</li>
            <li>Books and Authors</li>
            <li>Current Affairs</li>
        </ul>
    </div>
    <div class="course">
        <h3>Course 3: Reasoning</h3>
        <p>Learn the essentials of Data Science including data analysis, visualization, and machine learning techniques.</p>
    </div>
    <div class="course">
        <h3>Course 4: Maths</h3>
        <p>Learn the essentials of Data Science including data analysis, visualization, and machine learning techniques.</p>
    </div>
    <div class="course">
        <h3>Course 5: General Awareness</h3>
        <p>This course teaches you how to build web applications using Flask, a micro web framework for Python.</p>
        <ul class="syllabus">
            <li>Important Days</li>
            <li>Science</li>
            <li>India and its neighboring countries especially pertaining to History, Culture, Geography, Economic Scene, General Policy & Scientific Research</li>
            <li>People in News</li>
            <li>Sports</li>
            <li>Static GK</li>
            <li>Important Schemes</li>
            <li>Portfolio</li>
            <li>Books and Authors</li>
            <li>Current Affairs</li>
        </ul>
    </div>
</section>
{% endblock %}
